.ul {
    display: flex;
    position: absolute;
    flex-direction: column;
    background: #FFFFFF;
    color: black;
    top: 1em;
    right: 0.5em;
    padding: 0 4em 0  0;
    border-radius: 5px;
}

ul::after {
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: -10px;
    left: 73%;
    border-bottom: 10px solid #FFFFFF;
    top: -7px;
}

.li {
    list-style-type: none;
    text-align: left;
    padding-left: 0.4em;
    font-size: 18px;
    transition: 0.5s;
}

.li:hover {
    background-color: #0067A3;
    cursor: pointer;
    border-radius: 5px;
    color: #FFFFFF;
}