.App {
  text-align: center;
}

.header, .footer {
  background-color: #0067A3;
  color: #FFFFFF;
  min-height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  padding: 0 20px;
}

.main {
  background-color: #0079BF;
  min-height: calc(100vh - 162px);
  display: flex;
  justify-content: space-between;
  padding: 20px 16px 32px 19px;
}

.footer {
  font-size: 18px;
}

.footer_tasks {
  display: flex;
  justify-content: space-between;
}

.footer_tasks div {
  margin-right: 2em;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}



